body {
  padding-top: 15px;
}

.position-relative { position: relative; }
.position-absolute { position: absolute; }
.top-0 { top: 0; }
.top-30 { top: 30px; }
.right-0 { right: 0; }

.gt_table {
  margin-left: 0 !important;
  margin-bottom: 15px !important;
}
